@using EShop.Domain.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<EShopApplicationUser> SignInManager
@inject UserManager<EShopApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" >
                <button type="submit" class="nav-link btn btn-link" style="color: #1520a5;
  font-weight: bolder;">
                    Logout
                </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" style="color: #1520a5;
  font-weight: bolder;">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="color: #1520a5;
  font-weight: bolder;">Login</a>
    </li>
}
</ul>
