@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:azure;text-align: center;">
    <div style="margin-top: 64px;">
    <img src="
https://rails-assets-us.bookshop.org/ds/images/logo.041f4577edde0efff6b67907832d4c3dfd52407b.svg
" alt="Bookshop.org logo">
        <h1 style="font-family: initial;
  font-style: oblique;">
            Welcome to our Book Store
        </h1>
        <img src="https://www.ft.com/__origami/service/image/v2/images/raw/ftcms%3A389bcb9b-0a86-4077-9251-3ff1119b7313?source=next-article&fit=scale-down&quality=highest&width=700&dpr=1" style="width: 77rem;
  height: 29rem;
  margin-top: 33px;" />
        </div>
</body>

